.app.light{
  --bg-color: #756AB6;
  --inverted-bg-color: #363062;

  --primary-color: #E0AED0;
  --secondary-color: #FFE5E5;
  --inverted-primary-color: #F99417;
  --inverted-secondary-color: #F5F5F5;
}